html, body {
	margin: 0;
	box-sizing: border-box;
	background: #f4f6f8;
	color: #34404b;
	font-family: 'Noto Sans JP', sans-serif;
}
p {
	margin: 0;
}

h1{
	
}

h3 {
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
}
h3 span {
	color: #ff5912;
}
.header-about {
	text-align: center;
}
.container {
	width: 1200px;
	margin: 10px auto;
}
.goods-block {
	margin:80px 0;
}
.goods-cart {
	width: 270px;
	height: 365px;
	margin: 0 15px;
	background: #fff;
	float: left;
	text-align: center;
	font-size: 18px;
	display: block;
	position: relative;
}



.product-item_hover {
	display: none;
}



.goods-cart:hover .product-item{
	display: none;
}
.goods-cart:hover .product-item_hover {
	display: block;
	width: 270px;
	height: 365px;
	border: 1px solid rgba(144,206,240,1);
	box-shadow: 0px 0px 84px 11px rgba(144,206,240,1);
}
.goods-cart:hover .product-item_hover .goods-name{
	color: #ff5912;
}



.product_img {
	margin: 30px 0;
}

.goods-cart .goods-name {
	color: #34404b;
	font-weight: 700;
	margin-bottom: 20px;
}
.goods-cart .goods-price {
	color: #ff5912;
	font-weight: 700;

}

.sizes span {
	margin: 0 10px;
}
.size {
	text-decoration: none;
	color: #34404b;
}
.size:hover {
	color: #ff5912;
}
.colors {
	margin-top: 20px;
	margin-bottom: 40px;
}
.color {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 5px;
	text-align: center;
}

.goods-cart .product-item_hover .color:hover {
	width: 16px;
	height: 16px;
}


.red {
	background-color: #e12e3f;
}
.dark {
	background-color: #34404b;
}
.blue {
	background-color: #3ab3ff;
}
.green {
	background-color: #2fd967;
}

.icons a {
	margin: 0 20px;
}
